<%= form_for(@leftover) do |f| %>
  <% if @leftover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leftover.errors.count, "error") %> prohibited this leftover from being saved:</h2>

      <ul>
      <% @leftover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="content active">
<%= f.label :title %><br>
    <%= f.text_field :title , :class => 'form-control'%> 
   <br>
    <%= f.label :address %><br>
    <%= f.text_field :address, :id => 'autocomplete' , :onfocus => 'geolocate()', :autocomplete => 'off', :class => 'form-control' %>

    <%= f.hidden_field :location , :id => 'location', :class => 'form-control'%>
    <a href="#" class="btn btn-primary next_btn MarginTop10Px">Next</a>
    <%= link_to 'Back', leftovers_path, :class => "btn btn-primary next_btn MarginTop10Px pull-right" %>
</div>
<div class="content">
  <%= f.label :food_type %><br>
  <%= f.text_field :food_type , :class => 'form-control'%>
  <br>
  <%= f.label :quantity %><br>
  <%= f.number_field :quantity , :class => 'form-control'%>
  <a href="#" class="btn btn-primary next_btn MarginTop10Px">Next</a>
  <%= link_to 'Back', leftovers_path, :class => "btn btn-primary next_btn MarginTop10Px pull-right" %>
</div>
<div class="content">
    <%= f.label :available_from %><br>
    <%= f.text_field :available_from , :class => 'form-control'%>
    <br/>
    <%= f.label :available_to %><br>
    <%= f.text_field :available_to , :class => 'form-control'%>  
    <%= f.submit 'Donate', :class => 'btn btn-primary MarginTop10Px'  %>
    <%= link_to 'Back', leftovers_path, :class => "btn btn-primary next_btn MarginTop10Px pull-right" %>
</div>
  </div>
 
  <div class="field">
    
  </div>
  <div class="field">
    
    
  </div>
  
  <div class="actions">
  </div>
<% end %>
<script type="text/javascript">
  $(function(){
      $(".next_btn").click(function(){
    var parent = $(this).parent()
    parent.fadeThenSlideToggle();
    parent.next('.content').fadeThenSlideToggle()
  })
  
  jQuery.fn.fadeThenSlideToggle = function(speed, easing, callback) {
  if (this.is(":hidden")) {
    return this.slideDown(speed).fadeTo();
  } else {
    return this.fadeTo().slideUp(speed);
    
  }
};
  })
</script>

