<%= form_for(@leftover) do |f| %>
  <% if @leftover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leftover.errors.count, "error") %> prohibited this leftover from being saved:</h2>

      <ul>
      <% @leftover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title , :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, :id => 'autocomplete' , :onfocus => 'geolocate()', :autocomplete => 'off', :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location , :id => 'location', :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.number_field :pincode , :id => 'pincode', :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity , :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :food_type %><br>
    <%= f.text_field :food_type , :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :available_from %><br>
    <%= f.text_field :available_from , :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :available_to %><br>
    <%= f.text_field :available_to , :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status , :class => 'form-control'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
