<div class="body-content">
<div class="row">
<% if @leftovers.any? %>
<div class="content active">
<h1>We've found food near you !</h1>

<table class="table table-striped" id="foodAvailable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Food type</th>
      <th>Quantity</th>
      <th>Available from</th>
      <th>Available to</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @leftovers.each do |leftover| %>
      <tr>
        <td><%= leftover.title %></td>
        <td><%= leftover.address %></td>
        <td><%= leftover.food_type %></td>
        <td class="food_quantity"><%= leftover.current_quantity %></td>
        <td><%= leftover.available_from %></td>
        <td><%= leftover.available_to %></td>
        <td>
          <%= form_for(@consumption) do |f| %>
          <%= f.number_field :quantity, :class => 'input_qty' %>
          <%= f.hidden_field :leftover_id,:value => leftover.id   %>
          <%= f.submit 'Reserve', :class => 'btn btn-primary '  %>
          <% end %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
<div class="content active">
<h2>Sorry, no shared food around you.</h2>
</div>
<% end %>
</div>
</div>

