<h1>Listing Leftovers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Location</th>
      <th>Pincode</th>
      <th>Quantity</th>
      <th>Food type</th>
      <th>Available from</th>
      <th>Available to</th>
      <th>Status</th>
      <th>Consume</th>
    </tr>
  </thead>

  <tbody>
    <% @leftovers.each do |leftover| %>
      <tr>
        <td><%= leftover.title %></td>
        <td><%= leftover.address %></td>
        <td><%= leftover.location %></td>
        <td><%= leftover.pincode %></td>
        <td><%= leftover.quantity %></td>
        <td><%= leftover.food_type %></td>
        <td><%= leftover.available_from %></td>
        <td><%= leftover.available_to %></td>
        <td><%= leftover.status %></td>
        <td>
          <%= form_for(@consumption) do |f| %>
          <%= f.number_field :quantity %>|
          <%= f.hidden_field :leftover_id,:value => leftover.id   %>|
          <%= f.submit %>
          <% end %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

