<div class="alert alert-success" role="alert">Yay..! Your food is ready at <%=@consumption.leftover.address %></div>
<p>
  <strong>Leftover:</strong>
  <%= @consumption.leftover_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @consumption.quantity %>
</p>

<p>
  <strong>User:</strong>
  <%= @consumption.user_id %>
</p>

<%= link_to 'Edit', edit_consumption_path(@consumption) %> |
<%= link_to 'Back', root_path %>
