<!DOCTYPE html>
<html>
<head>
  <title>Hot Potatoe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<div class="container">
	<% if user_signed_in? %>
	<div class="pull-right">
	  	<div class="profile-info">
			<div class="profile-image"><img src=<%= current_user.profilepic %>></div>
			<div class="profile-name"><%= current_user.name %></div>
	  	</div>
	</div>
	<% end %>
</div>


<%= yield %>
</div>
</body>
</html>
